@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    font-family: 'Montserrat', sans-serif;    
}

body {
	background-color: #F1DEC9;
}

/* ESTILOS GERAIS */

.bg-color-1 {
	background-color: #F1DEC9;	
}

.bg-color-2 {
	background-color: #8D7B68;
}

.font-color {
	color: #F1DEC9;
}

.font-color-secundary {
	color: #8D7B68;	
}

.mg{
	margin: 3.5em 0;
}

h1 {
	font-weight: bold;
	font-size: 60px;
	text-transform: uppercase;
}

h2 {
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;	
	margin-bottom: 20px;
}

h4 {
	font-weight: bold;
	font-size: 28px;
}

h6 {
	font-size: 25px;
	font-weight: 500;
}

p {
	font-size: 20px;
}

.btn-primary {
	background-color: #8D7B68;
	font-size: 22px;
	font-weight: bold;
	padding: 8px 30px;
	border-radius: 100px;
	border: none;
	transition: .5s;
}

.btn-primary:hover {
	background-color: #A4907C;
	color: #F1DEC9;
	border: none;
	transition: .5s;
}

/* NAVBAR */
.navbar-logo {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.navbar-logo:hover {
	color: #F1DEC9;	
}

.navbar-nav a {
	position: relative;
    font-size: 18px;
	margin-left: 20px;
	font-weight: 500;
	text-decoration: none;
	transition: .3s;
}

.navbar-nav a::before {
	content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #F1DEC9;
    transition: .3s;
}

.navbar-nav a:hover::before{
	color: #F1DEC9;
    width: 100%;
}

.navbar-nav a:hover {
	color: #F1DEC9;
	transition: .3s;
}

/* BANNER */

.c-item {
	height: 80vh;
}

.c-img {
	height: 100%;
	object-fit: cover;
	filter: brightness(0.6);
} 

.carousel-caption {
	top: 0;
	margin-top: 260px;
}

.carousel-caption h1 {
	margin-top: 20px;
}

.carousel-caption button {
	margin-top: 40px;
}

/* ICONS */
.icons-card i {
	font-weight: bold;
	font-size: 55px;
	margin-bottom: 10px;
}

.icons-text {
	width: 80%;
}

/* NOSSO PRODUTO */
.nosso-produto {
	padding: 30px 0;
}

.produto-texto p{
	margin: 10px 80px 30px 80px;
}

.nosso-produto img {
	width: 100%;
	height: auto;
}

/* DEPOIMENTOS */
.depoimentos .col {
	margin: 0 20px;	
}

.depoimentos img{
	width: 100%;	
	height: 210px;
	border-radius: 100%;
}

.depoimentos h4 {
	margin-top: 10px;
}

.depoimentos .icon {
	margin-top: 10px;
}
